@import "../variables";

.button {
  width: 186px;
  height: 40px;
  background: $secondary;
  color: $white;
  border: none;
  cursor: pointer;
  &:active {
   background: $primary;
  }
  &.active {
   background: $primary;
  }
}
@media (max-width: 750px) {
  .button {
    margin-top: 15px;
  }
}
@media (min-width: 751px) {
  .button {
    display: none;
  }
}
