@import "../variables";

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 10px;
  .title {
    display: flex;

    .logo {
      width: 34px;
      height: 34px;
    }
  }

  .cart {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 7px;
    &-img {
    }
    & h3 {
      color: #35383a;
    }
    & .purchase {
      position: relative;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 60%;
      background: $primary;

      & span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 689px) {
  .header {
    display: flex;
    align-items: center;

    .title {
      & svg {
        width: 70%;
      }
      .logo {
        width: 2rem;
        height: 2rem;
      }
    }
    .cart {
      & h3 {
        display: none;
      }
    }
  }
}

@media (min-width: 751px) and (max-width: 1200px) {
  .header {
    .title {
      .logo {
      }
    }
    .cart {
      & h3 {
      }
    }
  }
}
