@import './variables';
@import './libs/normalize';

@import './components/all';

body {
  background: $background;
  font-family: 'Montserrat', 'Open Sans' , sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  width: $container-width;
  margin: 0 auto;
  padding-top: 39px;
}






